

    <!-- header section strats -->
    

<nav class=" navbar navbar-expand-lg navbar-light bg-warning ">
<span class="float-left navbar-brand">
              Beauty 
</span>
     <div class="d-flex ml-auto flex-column flex-lg-row align-items-center"> <!-- to the left side-->
  
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <a class="nav-link" href="/home">Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="#section">About</a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="/signUp">Registration</a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="/signIn">Log In</a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="/team">Purchase</a>
              </li>

         </ul>
    
     </div>
  </div>
</nav>